ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #135a78;
  width: 100%;
}

li {
  float: left;
}

li a {
    display: block;
    color: #BAD1CD;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF7F50;
}

li img {
    height: 57px;
    width: auto;
}

h1 {
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 50;
    margin-bottom: 0;
    color: #135a78;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #BAD1CD;
}

h2 {
    font-family: 'Alata', sans-serif;
    font-size: 30;
}